<div class="grid-container">
  <mat-grid-list cols="3" rowHeight="390px">
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Resources 💰
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <a href="https://angular.io/guide/service-worker-getting-started">https://angular.io/guide/service-worker-getting-started</a>
          <a href="https://github.com/tomeustace/intro-to-angular-pwa">https://github.com/tomeustace/intro-to-angular-pwa</a>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Books 📚
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
