<div class="grid-container">
  <mat-grid-list cols="3" rowHeight="390px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content>
          <mat-card-header>
            <mat-card-title>
              My Background 🧝‍♂️
            </mat-card-title>
          </mat-card-header>
          <p>Senior Frontend Engineer</p>
          <p>Angular / Web enthusiast</p>
          <p>Developing realtime analytics applications</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content>
          <mat-card-header>
            <mat-card-title>
            </mat-card-title>
          </mat-card-header>
            <p>
            </p>
            <p>
            </p>
            <p>
            </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
            </mat-card-title>
          </mat-card-header>
        <mat-card-content>
            <p>
            </p>
            <p>
            </p>
            <pre><code class="language-markup">
            </code></pre>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="2">
    </mat-grid-tile>
  </mat-grid-list>
</div>
