<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="'navigation'"
      [mode]="'side'"
      [opened]="false">
    <mat-toolbar class="heading">
      Agenda 🎬
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'dashboard'" [routerLinkActive]="['active']">Intro</a>
      <a mat-list-item [routerLink]="'resources'" [routerLinkActive]="['active']">Resources</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="spacer">
        <span>Talk Title</span>
        <span>@tomeustace</span>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
