.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-toolbar-single-row {
  .mat-icon {
    color: white;
  }
}

.mat-toolbar.heading {
    color: #1a237e;
}
.mat-list-item.active {
  background-color: hsla(235, 66%, 30%, 0.1);
  border-bottom : solid 1px hsla(235, 66%, 30%, 1);
}
.spacer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}
